.boxes{
    width: 90px;
    height: 90px;
    background-color: black;
    margin: 3px;
    cursor: pointer;display: flex;
    align-self: center;
    justify-content: center;
}
.boxes img{
    width: 100%;
    height: 100%;
}
.colums{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    margin-top: 30px;
}
.tictactoe h1{
    color: rgb(58, 58, 233);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 img{
    width: 40px;
    margin: 0 5px;
}
button{
    font-size: 20px;
    margin-top: 30px;
    padding: 20px 60px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}